<?php
    header("Content-type: text/css; charset: UTF-8");
?>

@font-face {
    font-family: KlavikaBold;
    font-weight: bold;
    src: url("images/KlavikaBoldBoldOSF.otf") format("opentype");
}

.text-zouk-title {
    font-family: KlavikaBold, Helvetica, Verdana, Sans-Serif;
}

.sort-group-header td {
    padding-bottom: 6px;
}

div .sort-group-header {
    padding-left: 30px;
    padding-right: 30px;
}
