<?php
    header("Content-type: text/css; charset: UTF-8");
?>

@media screen and (min-width: 768px) {
   .header {
        margin-bottom: 20px;
    }
}

.sort-group-header td {
    padding-bottom: 6px;
}

div .sort-group-header {
    padding-left: 30px;
    padding-right: 30px;
}
