<?php
    header("Content-type: text/css; charset: UTF-8");
?>

/*
#img_wrapper {
    width:75px;
    height:50px;
    margin:auto;
    position: relative;
}
*/

#img_inner {
  width: 75px;
  height: 50px;
  background-size: 75px 50px;
}
